body {
  display: flex;
  position: absolute;
}

.topnav {
  display: flex;
  flex-direction: row;
  top: 20px;
  position: fixed;
  z-index: 1;
  left: 1171px;
}

/* Style the links inside the navigation bar */
.topnav a {
  direction: ltr;
  color: #f7f7f7;
  text-align: center;
  margin: 0px 0px;
  padding: 0px 0px;
  font-size: 12px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: white;
}

.contactLink {
  color: #f7f7f7;
}
.contactLink:hover {
  color: #f7f7f7;
  cursor: pointer;
  text-decoration: underline;
}
